
#Directories
**/target
.cache
.cargo
.config/aseprite
.config/cef_user_data
.config/Code
.config/dconf
.config/discord
.config/GIMP
.config/google-chrome
.config/GPlates
.config/gtk-2.0
.config/gtk-3.0
.config/htop
.config/lazygit
.config/MControlCenter.conf
.config/menus
.config/neofetch
.config/nitrogen
.config/pulse
.config/QtProject.conf
.config/VirtualBox
.config/fontforge
.config/ranger/plugins
.config/solaar
.config/mimeapps.list
.config/pavucontrol.ini
.config/user-dirs.dirs
.config/user-dirs.locale
.gnome
.gnupg
.local
.npm
.pki
.rustup
.ssh
.steam
.vim
.vscode
bevy_testing
Downloads
extension
facturasSyl
msi-fan-fix
rust_projects/little_projects/rustrogueliketutorial
rust_projects/rust_the_complete_guide
rust_projects/discovery
rust_projects/embassy
rust_projects/rustlings

#Files
.bash_history
.bash_logout
.bash_profile
cpptools-linux.vsix
.dmrc
.minirc.dfl
extension.vsixmanifest
.gitconfig
.INSTALL
.lesshst
**.lock
.MTREE
.nvidia-settings-rc
.PKGINFO
.profile
.pulse-cookie
.rangerdir
.steampath
.steampid
.viminfo
.wget-hsts
.Xauthority
.xsession-errors
.xsession-errors.old
.config/CurseForge
.config/EpubReader
.config/github-copilot
.debug
.java/fonts/21.0.3
.minecraft
.mozilla/firefox
Documents/curseforge/minecraft
.config/ow-electron/cfiahnpaolfnlgaihhmobmnjdafknjnjdpdabpcm
.config/probe-rs-tools
bevy_projects/iso/flamegraph.svg
bevy_projects/iso/perf.data
bevy_projects/iso/perf.data.old
.config/zellij/config.kdl.bak
