[submodule "qmk_firmware"]
	path = qmk_firmware
	url = https://github.com/MonforteAdrian/qmk_firmware.git
[submodule "vimwiki"]
	path = vimwiki
	url = https://github.com/MonforteAdrian/HoneyverseWiki.git
[submodule "my_game"]
	path = my_game
	url = https://github.com/MonforteAdrian/My_Game.git
