#[submodule "qmk_firmware"]
#	path = qmk_firmware
#  url = git@github.com:MonforteAdrian/qmk_firmware.git
[submodule "vimwiki"]
	path = vimwiki
	url = git@github.com:MonforteAdrian/HoneyverseWiki.git
[submodule "my_game"]
	path = my_game
	url = git@github.com:MonforteAdrian/My_Game.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:MonforteAdrian/nvim.git
