
#Directories
**/target
.cache
.cargo
.config/cef_user_data
.config/dconf
.config/discord
.config/GIMP
.config/google-chrome
.config/gtk-2.0
.config/gtk-3.0
.config/htop
.config/nitrogen
.config/pulse
.config/QtProject.conf
.config/VirtualBox
.config/fontforge
.config/ranger/plugins
.config/solaar
.config/mimeapps.list
.config/pavucontrol.ini
.local
.npm
.pki
.rustup
.ssh
.steam
bevy
bevy_ecs_tilemap
cpp
Downloads
extension
nerd-fonts
old
opt
rustlings
VirtualBox\ VMs
vscode

#Files
.bash_history
.bash_logout
.bash_profile
cpptools-linux.vsix
.dmrc
extension.vsixmanifest
.gitconfig
.INSTALL
.lesshst
**.lock
.MTREE
.nvidia-settings-rc
.PKGINFO
.profile
.pulse-cookie
.rangerdir
.steampath
.steampid
.viminfo
.wget-hsts
.Xauthority
.xsession-errors
.xsession-errors.old
