! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67 
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

!!DoomOne Xresources palette
!*.foreground: #F8F8F2
!*.background: #282A36
!*.color0:     #1C1F24
!*.color8:     #5B6268
!*.color1:     #FF6C6B
!*.color9:     #DA8548
!*.color2:     #98be65
!*.color10:    #4db5bd
!*.color3:     #DA8548
!*.color11:    #ECBE7B
!*.color4:     #51AFEF
!*.color12:    #3071DB
!*.color5:     #C678DD
!*.color13:    #A9A1E1
!*.color6:     #5699AF
!*.color14:    #46D9FF
!*.color7:     #202328
!*.color15:    #DFDFDF
!
!!OneDark Xresources palette
!*.foreground:    #ABB2BF
!*.background:    #282A36
!*.color0:        #1E2127
!*.color8:        #5C6370
!*.color1:        #E06C75
!*.color9:        #E06C75
!*.color2:        #98C379
!*.color10:       #98C379
!*.color3:        #E5C07B
!*.color11:       #E5C07B
!*.color4:        #61AFEF
!*.color12:       #61AFEF
!*.color5:        #C678DD
!*.color13:       #C678DD
!*.color6:        #56B6C2
!*.color14:       #56B6C2
!*.color7:        #ABB2BF
!*.color15:       #FFFFFF
